@model Integrador.Models.Notificaciones
@{
    ViewBag.Title = "Editar Notificaciˇn";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="container-fluid">
    <h2><i class="fas fa-edit"></i> Editar Notificaciˇn</h2>

    <div class="card">
        <div class="card-body">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)

                <div class="form-group">
                    @Html.LabelFor(model => model.UsuarioId, "Usuario")
                    @Html.DropDownListFor(model => model.UsuarioId, (SelectList)ViewBag.UsuarioId, new { @class = "form-control" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Titulo)
                    @Html.EditorFor(model => model.Titulo, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Mensaje)
                    @Html.TextAreaFor(model => model.Mensaje, new { @class = "form-control", rows = 4 })
                </div>

                <div class="checkbox">
                    <label>
                        @Html.CheckBoxFor(model => model.Leido)
                        LeÝdo
                    </label>
                </div>

                <button type="submit" class="btn btn-warning"><i class="fas fa-save"></i> Actualizar</button>
                <a href="@Url.Action("Index")" class="btn btn-default">Cancelar</a>
            }
        </div>
    </div>
</div>
