@model Integrador.Models.Refugios
@{
    ViewBag.Title = "Editar Refugio";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="card">
                <div class="card-header">
                    <h3><i class="glyphicon glyphicon-edit"></i> Editar Refugio: @Model.Nombre</h3>
                </div>
                <div class="card-body">
                    @using (Html.BeginForm("Edit", "Refugios", new { area = "Admin" }, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.Id)
                        @Html.HiddenFor(m => m.FechaRegistro)
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <h4 class="section-title">Información General</h4>
                        <hr />

                        <div class="form-group">
                            @Html.LabelFor(m => m.Nombre, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.NombreResponsable, "Responsable", new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.NombreResponsable, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.NombreResponsable, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Descripcion, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextAreaFor(m => m.Descripcion, new { @class = "form-control", rows = 3 })
                                @Html.ValidationMessageFor(m => m.Descripcion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <h4 class="section-title">Información de Contacto</h4>
                        <hr />

                        <div class="form-group">
                            @Html.LabelFor(m => m.Telefono, new { @class = "col-md-3 control-label" })
                            <div class="col-md-4">
                                @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Telefono, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <h4 class="section-title">Ubicación y Capacidad</h4>
                        <hr />

                        <div class="form-group">
                            @Html.LabelFor(m => m.Direccion, new { @class = "col-md-3 control-label" })
                            <div class="col-md-9">
                                @Html.TextBoxFor(m => m.Direccion, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Direccion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.CapacidadMaxima, "Capacidad Máxima", new { @class = "col-md-3 control-label" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.CapacidadMaxima, new { @class = "form-control", type = "number", min = "0" })
                                @Html.ValidationMessageFor(m => m.CapacidadMaxima, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(m => m.MascotasActuales, "Mascotas Actuales", new { @class = "col-md-3 control-label" })
                            <div class="col-md-3">
                                @Html.TextBoxFor(m => m.MascotasActuales, new { @class = "form-control", type = "number", min = "0" })
                                @Html.ValidationMessageFor(m => m.MascotasActuales, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.EstaActivo)
                                        Refugio activo
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-9 col-md-offset-3">
                                <button type="submit" class="btn btn-primary btn-lg">
                                    <i class="glyphicon glyphicon-floppy-disk"></i> Guardar Cambios
                                </button>
                                <a href="@Url.Action("Index")" class="btn btn-default btn-lg">
                                    <i class="glyphicon glyphicon-arrow-left"></i> Cancelar
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<style>
    .section-title { color: #333; margin-top: 20px; margin-bottom: 10px; }
</style>
